input{
  box-sizing: border-box;
  width: 36%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
  color:white;
  background-color:black;
}

button{
width:100px;
height:40px;
}

.buttoncss1{
width:205px;
height:50px;
}
